* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    /* Webkit = Android/iOS */
    -webkit-text-size-adjust: none;
    /* MS = Microsoft */
    -ms-text-size-adjust: none;
    -webkit-user-select: none;
    /* Moz = Mozilla */
	-moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color:#32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    /* font-size:12px; */
    font-size: 105%;
}

/* Activates the usage of a custom font */
@font-face {
    font-family: '3dumbregular';
    src: url('3Dumb-webfont.eot');
    src: url('3Dumb-webfont.eot?#iefix') format('embedded-opentype'), url('3Dumb-webfont.woff2') format('woff2'), url('3Dumb-webfont.woff') format('woff'), url('3Dumb-webfont.ttf') format('truetype'), url('3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'acmeregular';
    src: url('Acme-Regular-webfont.eot');
    src: url('Acme-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('Acme-Regular-webfont.woff2') format('woff2'), url('Acme-Regular-webfont.woff') format('woff'), url('Acme-Regular-webfont.ttf') format('truetype'), url('Acme-Regular-webfont.svg#acmeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Applies the custom font to an element */
h1, h2, h3 {
    font-family: "3dumbregular";
}

/* .ui-header .ui-title ~ .ui-navbar .ui-btn  <== Targets buttons in the <nav> */
p, label, legend, .ui-header .ui-title ~ .ui-navbar .ui-btn {
    font-family: "acmeregular";
}

/* Target the size of the font in the <header> area */
.ui-header .ui-title {
    font-size: 1.50em;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    /* CSS code to detect Landscape view */
}

/* Resize the Image displayed when View more 
    Reminder CSS Selectors:
    Tag:    Any existing HTML code     body   p     img
    ID:     A unique, user-generated identifier. Can only be used once per project
                #divShowThing   #pImageTop
    Class: A unique, user-generated identifier. Can be used many times per project
                .myImage        .thatParagraph
*/

/* Select any element with this class attached: */
.comicImg { 
    width: 100%;
    /* Create a drop shadow: x-offest, y-offset, blur value, color */
    box-shadow: 5px 5px 5px black;
    /* Rounded corners. Same four corners: 25px.  Different corners 5px 25px 99px 1px */
    border-radius: 25px;
}

/* Other ways to do the same. Sort of.
    Select any <img> with this class attached:
img.comicImg { }

    Select an <img> inside a <p> with this class attached:
p img.comicImg { }
*/

/* Select an element (a <div>) with the ID divShowComicsTable, then find an 
    element that is the Tag <table> to style it
*/
div#divShowComicsTable table {
    background-color: aliceblue;
    width: 75%;
    border: 5px solid black;    /* Simple black border, 5px thick */
    margin: auto;               /* Automatic amount of space around element. Centers it */
    word-wrap: break-word;      /* When a word is too long, have it break the word */
    text-shadow: none;          /* Negate the built-in jQM text drop shadow */
}

div#divShowComicsTable table th {
    background-color: rebeccapurple;
    color: aquamarine;                  /* color Property affects Text Color */
}

/*
    Zebra striping is coloring a Table's rows for readability
*/

div#divShowComicsTable table tr:nth-of-type(even) {
    background-color: rgb(0, 50, 200);
    color: ghostwhite;
}

div#divShowComicsTable table tr:nth-of-type(odd) {
    background-color: rgba(0, 50, 200, 0.5);
    color: ghostwhite;
}

/* jQM Classes that define the element of a Dialog box, background */
.ui-dialog-contain > .ui-content {
    background-color: gold;
}

/* Style the icon in Show Comics Screen */
td.btnShowComicsInfo {
        font-size: 2 em;
        text-align: center;
}

/* Change the fonts of the buttons */
/* input[type=submit], input[type=reset], input[type=button], input[type=text], textarea */
.ui-btn, input[type=text], textarea {
    font-family: "acmeregular";
}